[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mccabe           = "*"
pep8-naming      = "*"
flake8           = "*"
pydocstyle       = "*"
mypy             = "*"
typeshed         = "*"
yapf             = "*"
pytest           = ">=5.3, <6"
pytest-cov       = "*"
pytest-benchmark = "*"
pytest-xdist     = "*"
pytest-mock      = "*"
moto             = "*"
glob2            = "*"
codecov          = "*"
#
dask             = {extras = ["dataframe", "distributed"], version = "*"}
tensorflow       = "==1.15.2"
keras            = "==2.2.4"
pyarrow          = ">=0.15.1"
# sphinx docs
sphinx-autodoc-typehints = ">=1.6.0"
sphinx-rtd-theme         = ">=0.4.3"
m2r                      = ">=0.2.1"
sphinxcontrib-apidoc     = ">=0.3.0"
nbsphinx                 = ">=0.4.2"
nbsphinx-link            = ">=1.2.0"
ipython                  = ">=7.5.0"
# release tools
twine = "*"

[packages]
timeserio        = {editable = true,path = "."}

[requires]
python_version    = "3.6"
